
<form action="/figures" method="POST">
  <label>Figure Name: </label><input id="figure_name" type="text" name="figure[name]"><br>
  <label>Figure Title: </label>
  <% Title.all.each do |title| %>
    <%= title.name %>
    <input id="title_<%=title.id%>"
           type="checkbox"
           name="figure[title_ids][]"
           value="<%=title.id%>">
  <% end %><br>
  <label>Title Name: </label><input id="new_title" type="text" name="title[name]"><br>
  <label>Figure Landmark: </label>
  <% Landmark.all.each do |landmark| %>
    <%= landmark.name %>
    <input id="landmark_<%=landmark.id%>"
           type="checkbox"
           name="figure[landmark_ids][]"
           value="<%=landmark.id%>">
  <% end %><br>
  <label>Landmark Name: </label><input id="new_landmark" type="text" name="landmark[name]"><br>
  <input type="submit" value="Create New Figure">
</form>
